*.swp
*.pyc
*.log
.spp_history

bin/config.sh

src/*/shared/
src/*/x86_64-native-linuxapp-gcc/
src/*/x86_64-native-linuxapp-icc/
src/*/i686-native-linuxapp-gcc/
src/*/i686-native-linuxapp-icc/

src/controller/3rd_party/*

tools/sppc/build/*/*/env.sh

docs/guides/_build/*
docs/guides/images/**/*.pdf
