# Add ports to classifier2
sec 1;port add phy:1 rx classifier2
sec 1;port add ring:4 tx classifier2
sec 1;port add ring:5 tx classifier2

# Add ports to forwarder5
sec 1;port add ring:4 rx forwarder5
sec 1;port add vhost:1 tx forwarder5

# Add ports to forwarder6
sec 1;port add vhost:1 rx forwarder6
sec 1;port add ring:6 tx forwarder6

# Add ports to forwarder7
sec 1;port add ring:5 rx forwarder7
sec 1;port add vhost:3 rx forwarder7

# Add ports to forwarder8
sec 1;port add vhost:3 tx forwarder8
sec 1;port add ring:7 rx forwarder8

# Add ports to merger2
sec 1;port add ring:6 rx merger2
sec 1;port add ring:7 rx merger2
sec 1;port add phy:1 tx merger2
