# Show status
status

# Show status of secondaries
sec 1;status
sec 2;status

# Add rings to secondaries
sec 1;add ring 0
sec 1;add ring 1
sec 1;add ring 2
sec 1;add ring 3
sec 2;add ring 0
sec 2;add ring 1
sec 2;add ring 2
sec 2;add ring 3

# Patch all of ports as bi-directional
sec 1;patch 0 2
sec 1;patch 3 0
sec 1;patch 1 4
sec 1;patch 5 1
sec 2;patch 0 3
sec 2;patch 2 1

# Start forwarding
sec 1;forward
sec 2;forward
