status
sec 0;status
sec 1;status
sec 2;status
sec 0;add ring 0
sec 0;add ring 1
sec 1;add ring 2
sec 1;add ring 3
sec 2;add ring 0
sec 2;add ring 1
sec 2;add ring 2
sec 2;add ring 3
sec 0;patch 0 2
sec 0;patch 3 0
sec 1;patch 3 1
sec 1;patch 1 2
sec 2;patch 0 3
sec 2;patch 2 1
sec 0;forward
sec 1;forward
sec 2;forward
